* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
    padding: 15px;
    margin-left: 30px;
}

.header {
    padding: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: purple; 
    color: pink
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
}

.header nav ul {
    list-style-type: none;
    text-align: right;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-align: right;
}

a {
    color: lightcoral;
    text-decoration: none;
    text-align: right;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content {
    flex: 1;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-header {
    flex: 0 0 20vw;
}

.card-body {
    text-align: left;
    padding-left: 200px;
}

.card-body ul li {
    display: inline-block;
    margin-left: 25px;
    text-align: center;
}

.about-me,
.work,
.contactme {
    display: flex;
    width: 30%;
    padding: 50px;
    margin-left: 15px;
    float: left;
    font-size: 48px;
    color: darkred;
}

#profile-picture {
    float: left;
}

#work-images {
    max-height: 200px;
}