* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
    padding: 15px;
    text-align: left;
}

.header {
    padding: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: purple; 
    color: pink
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
}

.header nav ul {
    list-style-type: none;
    text-align: right;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-align: right;
}

.header nav ul li a:hover {
    color: black;
    border-radius: 15px;
    text-shadow: none;
} 

a {
    color: lightcoral;
    text-decoration: none;
    text-align: right;
}

section {
    padding: 50px;
}
.hero {
    height: 100px;
    width: 100%;
    margin-bottom: 25px; 
    background-image: src="./assets/plaid.jpg";
    background-size: cover;
    background-position: center;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 35px;
    color: #080808;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    width: 10%;
    text-align: end;
    border-right: purple solid 3px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 90%;
}

.flex-row2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 90%;
    border-left: purple solid 3px;
}

.main-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    height: 650px;
    width: 100%;
}

.project-1 {
    background-image: src="./assets/coming-soon.jpg";
    background-size: cover;
    width: 100%;
    height: 450px;
    margin: 0 1% 2% 1%;
    border: purple 5px solid;
    position: relative;
}

.project-1:hover {
    opacity: 75%;
}

.mini-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    flex-direction: row;
    width: 100%;
}

.main-project:hover
.mini-projects:hover {
    opacity: 75%;
}

.content- {
    text-align: left;
    padding-left: 200px;
}

.content-contact ul li {
    display: inline-block;
    margin-left: 25px;
    text-align: center;
    font-size: 16px;
}

.about-me,
.work,
.contactme {
    display: flex;
    width: 30%;
    padding: 50px;
    margin-left: 15px;
    float: left;
    font-size: 48px;
    color: darkred;
}

#profile-picture img {
    width: 30%;
    height: auto;
    padding-left: 1%;  
}

#project-1 img {
    max-height: 300px;
    flex-basis: 300px;
}

#mini-project-1 img,
#mini-project-2 img,
#mini-project-3 img,
#mini-project-4 img {
    max-height: 150px;
    flex-basis: 150px;
}