* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
    padding: 15px;
    text-align: left;
}

.header {
    padding: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: purple; 
    color: pink
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
}

.header nav ul {
    list-style-type: none;
    text-align: right;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-align: right;
}

a {
    color: lightcoral;
    text-decoration: none;
    text-align: right;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px; 
    background-image: src="./assets/plaid.jpg";
    background-size: cover;
    background-position: center;
}

.container {
    flex: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: 20px;
}

.content-header {
    justify-content: right;
}

.content- {
    text-align: left;
    padding-left: 200px;
}

.content-contact ul li {
    display: inline-block;
    margin-left: 25px;
    text-align: center;
    font-size: 16px;
}

.about-me,
.work,
.contactme {
    display: flex;
    width: 30%;
    padding: 50px;
    margin-left: 15px;
    float: left;
    font-size: 48px;
    color: darkred;
}

#profile-picture img {
    max-height: 200px;
    float: left;
}

#work-images img,
#project-1 img {
    max-height: 100px;
    
}